header {
    text-align: center; 
    font-size: xx-large;
}

p {
color:red;
text-align: center;
max-width: 80%;
}
.refone {
    display:flex;
    align-items: center;
    flex-direction: column;

}
p1 {
    color:rgb(76, 0, 255);
    text-align: center;
    max-width: 50%;
}